---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="About - Francois Laberge" favicon="👋">
  <div class="space-y-6">
    <h1 class="text-3xl font-bold tracking-tight">About Me</h1>

    <div class="flex flex-row justify-center">
      <img class="rounded-full w-[128px]" style="border-radius: 100%" src="/about/stickers-on-face.webp"/>
    </div>
    <div class="prose prose-neutral dark:prose-invert max-w-none">
      
      <p class="text-lg text-muted-foreground">
        Hi! I'm Francois Laberge 👋 
      </p>
      
      <p>
       I write here about personal projects, my career, and my thoughts on creative tools.
       </p>

      <p>
        If you work on cool projects and want to chat, hit me up via <a href="mailto:francoislaberge@gmail.com">email</a>, <a href="https://x.com/seflless">twitter</a> or <a href="https://github.com/seflless">github</a>.
      </p>
    </div>
  </div>
</BaseLayout>
